   <ion-list no-margin mode="md">
    <ion-row>
      <ion-col no-padding>
        <ion-item (click)="closePopover()">
          <h3>New group</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding>
        <ion-item (click)="closePopover()">
          <h3>New broadcast</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding>
        <ion-item (click)="closePopover()">
          <h3>Web</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding>
        <ion-item (click)="closePopover()">
          <h3>Status</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding>
        <ion-item (click)="closePopover()">
          <h3>Setting</h3>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
 