/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 ion-item{
    --padding-start: 0;
    width: 100%;
    --inner-padding-end: 0;
    --inner-border-width: 0px 0px 0px 0px;
    --background: #eeeeee;
}
 
h3{
    margin-left: 14px;
}
ion-list{
     
    background: #eeeeee;
}
