<ion-list *ngFor="let coupon of couponsList">
  <ion-list-header>
    <ion-label>{{coupon.head}}</ion-label>
  </ion-list-header>
  <div *ngFor="let couponItems of coupon.coupons">
    <div class="containerFlex">
      <div class="coupon_COde" (click)="goToapplyCopyCoupon()">
        <!-- <ion-item> -->
        <ion-thumbnail [ngStyle]="{'background':'url('+ couponItems.coupImg +')'}" slot="start"></ion-thumbnail>
        <ion-text>{{couponItems.code}}</ion-text>
        <!-- </ion-item> -->
      </div>
      <ion-button fill='clear' *ngIf='couponStatus' (click)="goToapplyCoupon()">APPLY</ion-button>
    </div>

    <ion-item>
      <ion-label>
        <ion-text>{{couponItems.couTitle}}</ion-text>
        <p text-wrap>{{couponItems.coupDesc}}</p>
      </ion-label>
    </ion-item>
  </div>
</ion-list>