/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 .coupon_COde {
    display: flex;
    margin: 16px 0px 0px 16px;
    background: #FFECB3;
    width: 150px;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    border: 1px solid #CDDC39;
    ion-thumbnail {
        background-size: contain !important;
        background-position: center !important;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat !important;
        margin-left: 8px;
    }

    ion-text {
        font-size: 12px;
        font-weight: bold;
        padding-left: 25px;
    }
}
ion-list-header{
    background: #f4f5f8;
}
ion-item{
    ion-text{
        font-size: 12px;
    font-weight: bold;
    }
    p{
        font-size: 10px;
    }
}
.containerFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-button{
        margin-top: 16px;
        margin-bottom: 0px;
        color: #FF9800;
        font-size: 12px;
    }
}