 ion-toolbar {
     --background: #222428;

 }

 ion-button.searchContainer {
     --background: #a41585;
     color: white;
     opacity: 0.8 !important;
     width: 100%;
     margin: 0px 0px 0px 0px;
     --border-radius: 0;
     height: 44px;

     ion-icon {
         font-size: 28px;

     }
 }

 ion-button.searchBAckButton {
     --background: transparent;
     color: white;
     opacity: 0.8 !important;
     margin: 0px 0px 0px 0px;
     --border-radius: 0;
     height: 44px;

     ion-icon {
         font-size: 28px;

     }
 }

 .flex {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
 }

 .flexAll {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
 }

 h2 {
     color: white;
     font-weight: 600;
 }

 .reySearching {
     margin: 12px 25px 0px 25px;
     color: #9E9E9E;
 }

 ion-input {
     --color: white;
 }

 ion-avatar {
     background-size: cover !important;
     background-position: center !important;
     width: 50px !important;
     height: 50px !important;
 }