<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" class="searchBAckButton" slot="start" (click)="dissmiss()">
        <ion-icon name="arrow-back" expand="icon-only" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-button  class="searchContainer" mode="md"> -->
    <ion-input clearInput placeholder="Type something to search..."autofocus="true" text-left [(ngModel)]="searchInput" type="text" maxlength=25></ion-input>
    <!-- </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    [ngClass]="{'flex':searchInput !== '' && searchInput !== '' && searchInput.length > 0 && searchInput.length <= 2, 'flexAll': searchInput == '' }">
    <div *ngIf="searchInput == ''">
      <h2>{{findArtist}}</h2>
    </div>
    <div *ngIf="searchInput !== '' && searchInput.length > 0 && searchInput.length <= 2">
      <ion-label text-center>
        <h2>Could't find " {{searchInput}}"</h2>
        <p class="reySearching">{{trySearching}}</p>
      </ion-label>
    </div>
    <ion-list *ngIf="searchInput !== '' && searchInput.length > 2">
      <ion-item *ngFor="let searchedArtists of searchData" (click)="artistSelected()" padding-top>
        <ion-avatar [ngStyle]="{'background': 'url('+searchedArtists.image +')'}" slot="start">
        </ion-avatar>
        <ion-label>{{searchInput}} {{searchedArtists.name}}</ion-label>
      </ion-item>

    </ion-list>
  </div>
</ion-content>