/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-content {
  --background: #00000047;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

ion-list {
  background: transparent;
  text-align: center;
}

ion-item {
  --background: transparent;

  ion-label {
    --color: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary);
    font-size: 18px;
  }

  ion-input {
    --placeholder-color: white;
    --color: white;
  }
}

ion-card {
  --background: #f5f6f926;

  ion-card-title {
    font-size: 65px;
    font-weight: 600;
  }
}

ion-text {
  font-size: 48px;
  padding-bottom: 100px;
}

p {
  margin: 0;
  color: white;
  text-align: center;

  u {
    color: var(--ion-color-warning-tint);
  }
}
