<ion-content [ngStyle]="{'background':'url('+ loginPic +')'}">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center  style="height: 100%; flex-direction: column">
      <ion-list text-center>
        <ion-text color="tertiary" padding-bottom>Login</ion-text>

        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label position="stacked">Userame: </ion-label>
              <ion-input placeholder="Enter your username"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Password: </ion-label>
              <ion-input placeholder="Enter your Password"></ion-input>
            </ion-item>
            <ion-button color="tertiary" expand="block" margin-top (click)="goToHome()">Login</ion-button>
            <p (click)="goToForgotpassword()">Forgot password ? <u>Click here !</u></p>
          </ion-card-content>
        </ion-card>
        <p (click)="goToSignUp()">Don't have an account ? <u>Click here !</u></p>
      </ion-list>
    </ion-row>
  </ion-grid>

</ion-content>