/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 ion-content {
    --background: #f4f5f8;
}

.counterButtons {
    width: 100px;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--ion-color-light-shade);
    margin-bottom: 32px;

    ion-button {
        --padding-end: 0px;
        --padding-start: 0px;
        width: 20px;
        --indicator-color-checked: transparent;
        --border-color: #2196f300;
        --background-checked: var(--ion-color-success-tint);

        ion-icon {
            font-size: 16px;
        }
    }



    span {
        color: #28e070;
    }
}

ion-input {
    --padding-start: 0px;
    font-size: smaller;
    text-align: center;
    font-size: 13px;
}

.coupon {
    ion-thumbnail {
        background-size: cover;
        background-position: center;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        width: 56px;
        height: 38px;
    }

    ion-img {
        width: 35px;
        height: 35px;
    }

    ion-text {
        font-weight: bold;
    }

    ion-item {
        --inner-padding-end: 0px;
    }
}

.container {
    position: relative;
    padding: 8px 8px 32px 8px;
    background: white;
}

.container:after {
    background: linear-gradient(-45deg, #f4f5f8 16px, transparent 0), linear-gradient(45deg, #f4f5f8 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 22px 37px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 23px;
}

ion-list-header {
    font-weight: bold;
    font-size: 15px;
}

ion-list {
    margin-bottom: 16px;
}

.payTotal {
    font-weight: bold;

}

ion-item.footerButtons {
    ion-button {
        height: 36px;
        --border-radius: 0;
        width: 150px;
        margin-bottom: 16px;
    }

    .flex {
        width: 100%;
        justify-content: space-around;
        display: flex;
    }

}

ion-item.smallText {
    font-size: 14px;
}

ion-text.paddingBottom32 {
    padding-bottom: 32px;
}

ion-footer {

    ion-icon {
        -webkit-margin-end: 16px;
        margin-inline-end: 16px;
        color: #10dc60;
        border: 0.5px solid;
    }

}

.emptyCart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;

    ion-img {
        width: 250px;
    }

    h1 {
        font-size: 14px;
        font-weight: bold;
        color: #FF9800;
    }

    p {
        font-size: 10px;
        color: #9E9E9E;
    }

    ion-button {
        --border-radius: 0px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px;
        --border-color: #FF9800;
        --color: #FF9800;
        --background-activated: transparent;
        --color-activated: #FFC107;
    }

    p.marginCustom {
        margin: 0px 0px 27px 0px;
    }
}