<ion-content>
  <div *ngIf="!serviceProvider.toggleCArt" class="emptyCart">
    <ion-img src={{cartImage}}></ion-img>
    <h1 text-uppercase>good food is always for you</h1>
    <p no-margin>Your cart is empty.</p>
    <p class="marginCustom">Add something from the menu</p>
    <ion-button fill="outline" (click)="goTOBrowseRestaurants()">BROWSE RESTAURENT</ion-button>
  </div>
  <ion-list no-padding *ngIf="serviceProvider.toggleCArt">
    <ion-item lines='none' padding-top>
      <ion-thumbnail slot='start' [ngStyle]="{'background':'url('+ BILLING_DATA.shopImg +')'}"></ion-thumbnail>
      <ion-label>
        <ion-text>{{BILLING_DATA.shopName}}</ion-text>
        <p>Kormangala,Bangaluru</p>
      </ion-label>
    </ion-item>
    <ion-item padding-top>
      <ion-text class="paddingBottom32">
        <ion-text color='danger'>&#x25A3;</ion-text> Chicken Biryani
      </ion-text>
      <div class="counterButtons" slot="end">

        <ion-button (click)="counterButton('remove')" fill='clear' [disabled]='totalItemCount <= 0'>
          <ion-icon name="remove-circle-outline" color="danger"></ion-icon>
        </ion-button>

        <span>{{totalItemCount}}</span>

        <ion-button (click)="counterButton('add')" fill='clear'>
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
      </div>
      <ion-text slot="end" class="paddingBottom32"> &#8377; {{totalAmount}}</ion-text>
    </ion-item>
    <ion-item lines='none'>
      <ion-icon name='list' expand='icon-only' slot='start' mode='ios' color='medium'></ion-icon>
      <ion-input placeholder={{noteTips}}></ion-input>
    </ion-item>
  </ion-list>
  <ion-list no-padding *ngIf="serviceProvider.toggleCArt">
    <ion-item class="coupon" lines='none' (click)="goTOApplyCoupon()">
      <ion-thumbnail>
        <ion-img src='../../assets/offer.png'></ion-img>
      </ion-thumbnail>
      <ion-label>
        <ion-text>APPLY COUPON</ion-text>
      </ion-label>
      <ion-button fill='clear' slot='end'>
        <ion-icon name='arrow-forward' expand='icon-only' mode='ios' color='medium'></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <div class="container" *ngIf="serviceProvider.toggleCArt">
    <ion-list-header>
      <ion-label>Bill Details</ion-label>
    </ion-list-header>
    <ion-item class="smallText">
      <ion-label>
        <ion-text>Item Total</ion-text>
      </ion-label>
      <ion-text slot='end'> &#8377; {{this.totalAmount}}</ion-text>
    </ion-item>
    <ion-item class="smallText">
      <ion-label>
        <ion-text>Restaurant Charged</ion-text>
      </ion-label>
      <ion-text slot='end'> &#8377; 23</ion-text>
    </ion-item>
    <ion-item class="smallText">
      <ion-label>
        <ion-text>Delivery Fee</ion-text>
      </ion-label>
      <ion-text slot='end'> &#8377; 15</ion-text>
    </ion-item>
    <ion-item class="payTotal">
      <ion-label>
        <ion-text>To Pay</ion-text>
      </ion-label>
      <ion-text slot='end'> &#8377;{{this.totalAmount + 38}}</ion-text>
    </ion-item>
  </div>
</ion-content>
<ion-footer color='success' *ngIf="serviceProvider.toggleCArt">
  <ion-item lines='none'>
    <ion-icon name='pin' slot='start'></ion-icon>
    <ion-label>
      <ion-text>{{address ? address : 'Multiple addresses in this location'}}</ion-text>
      <p>{{Location ? Location :'Banguluru, Shadman, Enappd'}}</p>
      <p>{{time ? time :'42 MINS'}}</p>
    </ion-label>
  </ion-item>
  <ion-item class="footerButtons" *ngIf='!address && !time' lines='none'>
    <div class="flex">
      <ion-button fill='outline' color='success' (click)="goToAddAddress('add')">ADD ADDRESS</ion-button>
      <ion-button fill='solid' color='success' (click)="goToAddAddress('select')">SELECT ADDRESS</ion-button>
    </div>
  </ion-item>
  <ion-item class="footerButtons" *ngIf='address && time' lines='none'>
    <ion-label>
      <ion-text slot='start'> &#8377;{{this.totalAmount + 38}}</ion-text>
      <p slot='start' color='primary'> Check above for detailed bill</p>
    </ion-label>
    <ion-button fill='solid' color='success' (click)="goToPayments()" slot="end">PROCEED TO PAY</ion-button>
  </ion-item>
</ion-footer>