<ion-header>
  <ion-toolbar class="padTop">
  </ion-toolbar>
  <ion-toolbar mode="md">
    <ion-title text-center>{{title}}</ion-title>
    <ion-buttons (click)="searchInputClicked()" disabled>
      <ion-button expand="block" class="searchContainer">
        <ion-icon name="search" expand="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="flex" *ngIf="comingFrom !== 'slideAddArtist'">
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
        <div size="6" ion-wrap *ngFor="let cards of artistList; let index = index" class="flex1"
          [ngClass]="{'marginL': index % 3 === 0, 'marginR':  index % 3 === 1  }">
          <ion-avatar [ngStyle]="{'background-image': 'url('+ cards.image +')'}" class="cardStyle">
            <div class="overlay" (click)="getToRestroProduct(cards,index)">
              <div class="hearttoggle" *ngIf="cards.show">
                <ion-icon name="heart" color="success" expand="icon-only"></ion-icon>
              </div>
            </div>
          </ion-avatar>
          <p>{{cards.title}}</p>
        </div>
      </ion-row>
    </ion-grid>
    <div class="buttonFixed">
      <ion-button color="light" *ngIf="buttonToggle || serviceProvider.buttonToggle" (click)="goToArtistSongs()">Done
      </ion-button>
    </div>
  </div>
  <div class="flex" *ngIf="comingFrom === 'slideAddArtist'">
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
        <div size="6" ion-wrap *ngFor="let cards of slideArtistData; let index = index" class="flex1"
          [ngClass]="{'marginL': index % 3 === 0, 'marginR':  index % 3 === 1  }">
          <ion-avatar [ngStyle]="{'background-image': 'url('+ cards.image +')'}" class="cardStyle">
            <div class="overlay" (click)="getSlideTotalCount(cards,index)">
              <div class="hearttoggle" *ngIf="cards.show">
                <ion-icon name="heart" color="success" expand="icon-only"></ion-icon>
              </div>
            </div>
          </ion-avatar>
          <p>{{cards.name}}</p>
        </div>
      </ion-row>
    </ion-grid>
    <div class="buttonFixed">
      <ion-button color="light" *ngIf="buttonToggle || serviceProvider.buttonToggle" (click)="goToSlideArtist()">Done
      </ion-button>
    </div>
  </div>
</ion-content>