ion-content {
    // --background: linear-gradient(to top, #e91ebd, #311B92);
    --background: white;

}

ion-toolbar.padTop {
    --background: #222428;
    padding-bottom: 0px;
}

ion-toolbar {
    --background: #222428;

    padding-bottom: 1px;
}

ion-button.searchContainer {
    --background: white;
    color: #222428;
    opacity: 0.8 !important;
    width: 100%;
    margin: 16px;
    --border-radius: 5px;

    ion-icon {
        font-size: 28px;

    }
}

.header-md:after {
    bottom: 0px;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.flex1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

ion-title {
    color: white;
    font-weight: bold;
    font-size: 16px;
}





.signInput {
    --background: transparent;
    --inner-border-width: 0 0 0px 0;
    --padding-start: 0;
    --inner-padding-end: 0;
    width: 100%;

    .inputLabel {
        margin-bottom: 12px;
        font-size: 24px;
        color: white;
    }

    ion-input {
        --background: #E0F2F1;
        border-radius: 5px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        --padding-start: 5px;
    }

    ion-icon {
        position: absolute;
        right: 12px;
        top: 60%;
        z-index: 9999;
    }

    p {
        margin: 5px 0px 0px 12px;
        padding: 0;
        width: 100%;
        font-size: 11px;
        color: #222428;
    }
}

ion-button {
    --border-radius: 25px;
    margin-bottom: 24px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
    height: 44px;
    width: 150px;

}

.buttonFixed {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

p {
    color: #222428;
    font-size: 12px;
}

.cardStyle {
    height: 95px;
    width: 95px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0px 3px 5px 3px;



    p {
        margin: 10px 0px 0px 6px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.5px;
    }

    .overlay {
        width: 100%;
        height: 100%;
        background: #00000021;
        display: flex;
        border-radius: 50%;
    }

    .hearttoggle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: white;
        position: absolute;
        top: 6%;
        justify-content: center;
        align-items: center;
        display: flex;
        right: 0px;

    }
}

ion-row {
    width: 100%;
    // padding: 8px;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0px;
}