<ion-header>
  <ion-toolbar mode="md">
    <ion-title (click)="goToChangeLocation()" text-start> Now &rarr; {{COMPLETE_ADDRESS}}</ion-title>
    <ion-buttons slot="end">
      <ion-button text-capitalize (click)="goToOffersPage()">
        <ion-avatar slot="start">
          <img src={{IMAGE_HEADER}}>
        </ion-avatar>
        Offer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="logScrolling($event)" [scrollEvents]="true">
  <div class="verticalScrollContainer">
    <ion-card [ngStyle]="{'background':'url('+ VerticalCards.image +')'}" *ngFor="let VerticalCards of cardDetails"
      class="cardVertical" (click)='goToProductPage(VerticalCards)'>
      <div class="overlay">
        <div class="bottomText">
          <ion-text color='light' class="title">{{VerticalCards.text1}}</ion-text>
          <ion-text color='light' class="smallTitle">{{VerticalCards.text2}}</ion-text>
        </div>
      </div>
    </ion-card>
  </div>
  <ion-list>
    <ion-list-header id='fixPosition'>
      <ion-label>768 RESTAURANTS</ion-label>
      <ion-button fill='clear' color='dark' (click)="openFilterModal()">
        <ion-icon slot='start' name='options' mode='ios'></ion-icon>
        SORT/FILTER
      </ion-button>
    </ion-list-header>
    <div *ngFor="let items of itemDetails">
      <ion-item (click)="gotoRestuarentsProducts(items)">
        <ion-thumbnail [ngStyle]="{'background':'url('+ items.thumbnail +')'}" slot='start'> </ion-thumbnail>
        <ion-label>
          <h2>{{items.title}}</h2>
          <p class="paraSmallExtraa">{{items.subTitle}}</p>
          <div class="sameLine">
            <ion-img src={{items.imgSmall}} class="smallIMg"></ion-img>
            <ion-text text-wrap>{{items.text}} </ion-text>
          </div>
        </ion-label>
      </ion-item>
      <ion-item class="itemBottomTimeCost">
        <div class="paddingRight">
          <ion-text><span>&#10031;</span> {{items.rate}}</ion-text>
          <ion-text class="mediumText">{{items.time}}</ion-text>
          <ion-text>&#8377; {{items.cost}}</ion-text>
        </div>

      </ion-item>

      <div *ngIf='items.slidesVertical' class="borderTopBottom">
        <ion-list-header>
          <ion-label class="brands">Popular Brands</ion-label>
        </ion-list-header>
        <div class="verticalScrollContainer1">
          <div class="overlay" *ngFor="let VerticalCards of items.slidesVertical" class="VerticalCards">
            <div class="circleCenetr">
              <ion-avatar>
                <ion-img src={{VerticalCards.image}}></ion-img>
              </ion-avatar>
            </div>
            <div class="bottomText">
              <ion-text color='dark' class="VerticalCardsTitle">{{VerticalCards.text1}}</ion-text>
              <ion-text color='medium' class="smallTitle">{{VerticalCards.text2}}</ion-text>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf='items.famousFor' class="borderTopBottom">
        <ion-list-header>
          <ion-label class="brands">Restaurants Famous For</ion-label>
        </ion-list-header>
        <div class="verticalScrollContainer1">
          <div class="overlay" *ngFor="let VerticalCards of items.famousFor" class="VerticalCards">
            <!-- <div class="circleCenetr"> -->
            <ion-avatar>
              <ion-img src={{VerticalCards.image}}></ion-img>
            </ion-avatar>
            <!-- </div> -->
            <div class="bottomText">
              <ion-text color='dark' class="VerticalCardsTitle">{{VerticalCards.text1}}</ion-text>
              <ion-text color='medium' class="smallTitle">{{VerticalCards.text2}}</ion-text>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf='items.slidesVerticalAvater' class="whatsNew">
        <ion-label text-center>
          <h3>WHAT'S NEW</h3>
          <P>LATEST RETAURANTS ON THE BLOCK</P>
        </ion-label>
        <div class="verticalScrollContainerWhatsNew">
          <div *ngFor="let VerticalCards of items.slidesVerticalAvater" class="thumbItemAlong">
            <ion-thumbnail [ngStyle]="{'background':'url('+ VerticalCards.image +')'}" class="cardVertical">
            </ion-thumbnail>
            <div class="overlay">
              <div class="bottomText">
                <ion-text color='dark' class="title">{{VerticalCards.text1}}</ion-text>
                <ion-text color='medium' class="smallTitle">{{VerticalCards.text2}}</ion-text>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </ion-list>


</ion-content>