ion-title {
  font-weight: bold;
  font-size: 16px;
}

ion-toolbar {
  ion-button {
    height: 100%;
    font-weight: bold;
  }

  ion-avatar {
    width: 28px;
    height: 28px;
    margin-right: 4px;
  }
}
ion-thumbnail{
    border-radius: 4px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.verticalScrollContainer {
  display: -webkit-box;
  width: 100%;
  overflow: scroll;
}

.verticalScrollContainer1 {
  display: -webkit-box;
  width: 100%;
  overflow: scroll;
}

.borderTopBottom {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.cardVertical {
  width: 180px;
  height: 180px;
  background-position: center !important;
  background-size: cover !important;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #00000047;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .smallTitle {
    font-size: 12px;
  }

  .bottomText {
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    background: radial-gradient(#000000d9, transparent);
  }
}

.smallIMg {
  width: 12px;
  margin-right: 5px;
}

.sameLine {
  display: -webkit-box;
  justify-content: flex-start;
  align-items: center;
  display: flex;

  ion-text {
    font-size: 12px;
    color: #b71c1c;
  }
}

.header-md:after {
  background-image: none;
}

.VerticalCards {
  width: 110px;
  min-width: 110px;
  margin: 10px 0;
  justify-content: flex-start;
  padding: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .circleCenetr {
    border: 1px solid gray;
    width: 65px;
    height: 65px;
    /* background: red; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-avatar {
      width: 55px;
      height: 55px;
    }
  }

  .bottomText {
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .VerticalCardsTitle {
      font-size: small;
      margin: 12px 0px 12px 0px;
      font-weight: bold;
    }

    .smallTitle {
      font-size: 12px;
    }
  }
}

.brands {
  padding-top: 0px;
  font-weight: bold;
}

ion-item.itemBottomTimeCost {
  --inner-border-width: 0 0 0px 0;

  ion-text {
    font-size: small;
    margin: 0px 22px 0px 0px;
    color: #455a64;
  }

  span {
    font-size: 18px;
  }
  .paddingRight {
    margin-left: 72px;
  }
}
ion-list-header {
  background: #f4f5f8;
  border-bottom: 0.5px solid var(--ion-color-light-shade);
  border-top: 0.5px solid var(--ion-color-light-shade);
}
ion-text.mediumText {
  padding: 0px 16px 0px 16px;
  border-left: 1px solid #455a64;
  border-right: 1px solid #455a64;
}

.paraSmallExtraa {
  color: #455a64;
  font-size: x-small;
}

.whatsNew {
  padding: 40px 0px;
  background: #e1f5fe;
}

.verticalScrollContainerWhatsNew {
  display: -webkit-box;
  width: 100%;
  overflow: scroll;

  .cardVertical {
    width: 125px;
    height: 125px;
    background-position: center !important;
    background-size: cover !important;
  }

  .thumbItemAlong {
    width: 125px;
    /* height: 125px; */
    margin: 8px;
  }

  .overlay {
    background: none;

    .bottomText {
      background: transparent;
    }

    .title {
      font-size: 12px;
      font-weight: bold;
      padding: 16px 0px 16px 0px;
      text-align: center;
    }

    .smallTitle {
      font-size: 12px;
      text-align: center;
    }
  }
}
