<ion-list>
  <ion-item *ngFor='let menuItems of menuList' (click)='getIdandClose(menuItems)'>
    <ion-text color='dark'>{{menuItems.menu}}</ion-text>
    <ion-text slot='end'>{{menuItems.quantity}}</ion-text>
  </ion-item>
</ion-list>