<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title text-start>SET DELIVERY LOCATION</ion-title>
    <ion-input placeholder="Search for area, streetname..." [(ngModel)]="locationInput" (ionInput)="searcOnChnage()">
    </ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="locationInput === ''" (click)="getCurrentLocation()" class="border_Item">
      <ion-icon name='locate' slot="start"></ion-icon>
      <ion-label>
        <ion-text>Current Location</ion-text>
        <p>Using GPS</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="autocompleteItems && autocompleteItems.length">
    <ion-list style="box-shadow: 0 0px 6px #bdbdbd!important;">
      <ion-item *ngFor="let item of autocompleteItems" class="item-requset-ride" tappable (click)="chooseItem(item)">
        <ion-icon ios="ios-pin" md="md-pin" slot="start" style="margin-top:20px; font-size:1.3em"></ion-icon>
        <ion-label>
          <p>{{item}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card padding>
    <ion-text text-center>
      Search a location in input box
    </ion-text>
  </ion-card>
  <ion-button expand="full" fill="clear" color="medium" (click)="closePage()">Close</ion-button>
</ion-content>