ion-toolbar {
    ion-title {
        font-size: 8px;
        color: #f04141;
        padding-inline-start: 8px;
    }

    ion-input {
        --padding-bottom: 0 !important;
        --padding-top: 0 !important;
        --padding-start: 8px;
    }
}

ion-item.border_Item {
    --border-color: black;
    --inner-border-width: 0 0 1.5px 0;
}

ion-list-header {
    font-weight: bold;
    font-size: 13px;
    text-transform: none;
}