/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-content {
  --background: transparent;
  position: relative;
}

.bottomAlign {
  bottom: 0;
  position: absolute;
  background: white;
  width: 100%;
  max-height: 500px;
  height: 400px;
}

.buttonsColumn {
  background: #eeeeee;
  padding: 0;
  border-right: 1px solid #9e9e9e;
}

ion-segment {
  flex-direction: column;
  --color-checked: #f44336;

  ion-segment-button {
    --background-checked: white;
    color: #607d8b;
    padding: 10px 0;
  }
}

ion-row.fullHeight {
  height: 400px;
}

ion-grid {
  max-height: 400px;
  background: white;
}

.scrollWithHeight {
  max-height: 380px;
  text-overflow: hidden;
  overflow: scroll;
}
