<div class="bottomAlign">

  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button fill='clear' color='dark' slot="start" (click)="closePage()">
            <ion-icon name='close' expand='icon-only'></ion-icon>
          </ion-button>
          <ion-label>
            <ion-text>Sort / Filter</ion-text>
          </ion-label>
          <ion-button fill='clear' color='danger' slot="end" text-capitalize>
            clear all
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="fullHeight">
      <ion-col size='5' class="buttonsColumn">
        <ion-segment mode="md" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="sort" checked color='danger'>
            <ion-label> Sort</ion-label>
          </ion-segment-button>
          <ion-segment-button value="cuisines">
            <ion-label>Cuisines</ion-label>
          </ion-segment-button>
          <ion-segment-button value="offer">
            <ion-label> Offers & More</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

      <ion-col size='7'>
        <div *ngIf="segmentValue === 'sort'" class="scrollWithHeight">
          <ion-list no-margin no-padding>
            <ion-radio-group>
              <ion-list-header>
                <ion-label text-uppercase>Show restaurant by</ion-label>
              </ion-list-header>

              <ion-item *ngFor="let RadioItem of radios">
                <ion-label>{{RadioItem.name}}</ion-label>
                <ion-radio slot="start" value={{RadioItem.value}} [checked]='radioItemNo' color="tertiary"></ion-radio>
              </ion-item>

            </ion-radio-group>
          </ion-list>

        </div>
        <div *ngIf="segmentValue === 'cuisines'" class="scrollWithHeight">
          <ion-list no-margin no-padding>

            <ion-item *ngFor="let check of checkboxes">
              <ion-label>{{check.name}}</ion-label>
              <ion-checkbox slot="start" color="tertiary"></ion-checkbox>
            </ion-item>

          </ion-list>
        </div>
        <div *ngIf="segmentValue === 'offer'" class="scrollWithHeight">
          <ion-list no-margin no-padding>

            <ion-item *ngFor="let off of offers">
              <ion-label>{{off.name}}</ion-label>
              <ion-checkbox slot="start" color="tertiary"></ion-checkbox>
            </ion-item>

          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>