<ion-header>
    <ion-toolbar>
      <ion-title class="title-ios" text-capitalize>{{title}}</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="close" slot="icon-only" (click)="dismiss()" class="white" margin></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item lines="none" class="card" padding>
      <ion-col>
        <div margin-bottom *ngFor="let question of que; let i = index">
          <ion-text>
            <h5 class="que" no-margin><strong>{{question}}</strong></h5>
          </ion-text>
          <ion-text>
            <h5 class="ans" no-margin>{{ans[i]}}</h5>
          </ion-text>
        </div>
      </ion-col>
    </ion-item>
  </ion-content>