<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name='heart-empty'></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name='search'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-uppercase>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div class="buttonAtFooterALways">
    <ion-button color='primary' (click)='openMenuModal($event)'>
      <ion-icon slot='start' name='wine'></ion-icon>MENU
    </ion-button>
  </div>

  <div margin-bottom class="topContainer">
    <ion-item lines='none'>
      <ion-label text-center class="dashedBorder">
        <h2>{{restroData.title}}</h2>
        <p>{{restroData.subTitle}}</p>
      </ion-label>
    </ion-item>
    <div class="flexRatetime">
      <ion-label padding text-center>
        <h2>&#10031; {{restroData.rate}}</h2>
        <p>100+ ratings</p>
      </ion-label>
      <ion-label text-center>
        <h2>{{restroData.time}}</h2>
        <p>Delivery Time</p>
      </ion-label>
      <ion-label text-center>
        <h2>&#8377; {{restroData.cost}}</h2>
        <p>{{restroData.for ? restroData.for : 'For Two' }}</p>
      </ion-label>
    </div>
    <div class="boxDiv">
      <div class="sameLine">
        <ion-img src={{restroData.imgSmall}} class="smallIMg"></ion-img>
        <ion-text text-wrap>{{restroData.text}} on orders above &#8377;89 </ion-text>
      </div>
    </div>
    <ion-item lines='none'>
      <span>VEG ONLY <ion-toggle></ion-toggle>
      </span>
    </ion-item>
  </div>
  <ion-list *ngFor="let listItems of prevOrders; let i = index">
    <ion-list-header id={{listItems.id}}>
      <ion-label>{{listItems.head}}</ion-label>
    </ion-list-header>
    <div class="verticalScrollContainer" *ngIf="listItems.repeatMenu">
      <div *ngFor="let prevMenu of listItems.repeatMenu; let ind = index" class="card-wrapper">
        <ion-card class="cardVertical">
          <div class="overlay">

            <ion-item>
              <ion-label>
                <ion-text color='dark' class="title">{{prevMenu.restroName}}</ion-text>
                <p color='medium' class="smallTitle">{{prevMenu.foodType}}</p>
              </ion-label>

            </ion-item>

            <ion-item class="costCounterDiv" lines="none">
              <ion-label>
                <ion-text>&#8377;{{prevMenu.cost}}</ion-text>
              </ion-label>
              <ion-button *ngIf='!prevMenu.clicked' fill='clear' color='success' (click)="toggleAddValue(prevMenu,ind)"
                slot="end">
                Add
              </ion-button>
              <div *ngIf='prevMenu.clicked' slot="end" class="counterButtons">

                <ion-button (click)="counterButton(prevMenu,'remove',ind)" fill='clear'
                  [disabled]='prevMenu.inputValue <= 0'>
                  <ion-icon name="remove-circle-outline" color="danger"></ion-icon>
                </ion-button>

                <!-- <ion-input [(ngModel)]=' prevMenu.inputValue' readonly placeholder={{prevMenu.inputValue}}>
                </ion-input> -->
                <span>{{prevMenu.inputValue}}</span>

                <ion-button (click)="counterButton(prevMenu,'add',ind)" fill='clear'>
                  <ion-icon name="add-circle-outline" color="success"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </div>
        </ion-card>
      </div>
    </div>
    <div *ngIf="listItems.menus">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let menuItems of listItems.menus; let menuIndex = index">
            <ion-card class="menuCard">
              <div [ngStyle]="{'background':'url('+ menuItems.image +')'}" class="cardImage"></div>
              <!-- <ion-img src={{menuItems.image}}></ion-img> -->
              <span class="sellerTypeSpan">{{menuItems.sellerType}}</span>
              <ion-card-content>
                <ion-text color="dark" class="cardContentName">
                  <ion-text
                    [ngClass]="{ 'red' : menuIndex % 2 === 0,'green': menuIndex % 3 == 0, 'red':menuIndex % 1 === 0}">
                    &#x25A3;</ion-text>
                  {{menuItems.name}}
                </ion-text>
              </ion-card-content>
              <ion-item class="costCounterMenuPrice noPaddingStart" lines="none">
                <ion-label>
                  <ion-text>&#8377;{{menuItems.price}}</ion-text>
                </ion-label>
                <ion-button *ngIf='!menuItems.clicked' fill='clear' color='success'
                  (click)="toggleAddValue(menuItems,ind)" slot="end" class="bordereedButton">
                  Add
                </ion-button>
                <div *ngIf='menuItems.clicked' slot="end" class="counterButtons">

                  <ion-button (click)="counterButton(menuItems,'remove',ind)" fill='clear'
                    [disabled]='menuItems.inputValue <= 0'>
                    <ion-icon name="remove-circle-outline" color="danger"></ion-icon>
                  </ion-button>
                  <span>{{menuItems.inputValue}}</span>

                  <ion-button (click)="counterButton(menuItems,'add',ind)" fill='clear'>
                    <ion-icon name="add-circle-outline" color="success"></ion-icon>
                  </ion-button>
                </div>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="listItems.itemView">
      <ion-item class="costCounterMenuPrice" lines="none"
        *ngFor="let itemMenuView of listItems.itemView;let itemView = index">
        <ion-label>
          <!-- <ion-text>&#8377;{{itemMenuView.price}}</ion-text> -->
          <ion-text color="dark" class="cardContentNameMenuView">
            <ion-text [ngClass]="{ 'red' : itemView % 2 === 0,'green': itemView % 3 == 0, 'red':itemView % 1 === 0}">
              &#x25A3;</ion-text>
            {{itemMenuView.dishName}}
          </ion-text>
          <p class="foodPriceMEnuView">&#8377; {{itemMenuView.dishPrice}}</p>
          <p class="foodPriceMEnuView1" text-wrap> {{itemMenuView.contents}}</p>
        </ion-label>
        <ion-button *ngIf='!itemMenuView.clicked' fill='clear' color='success'
          (click)="toggleAddValue(itemMenuView,ind)" slot="end" class="bordereedButton" slot="end">
          Add
        </ion-button>
        <div *ngIf='itemMenuView.clicked' slot="end" class="counterButtons" slot="end">

          <ion-button (click)="counterButton(itemMenuView,'remove',ind)" fill='clear'
            [disabled]='itemMenuView.inputValue <= 0'>
            <ion-icon name="remove-circle-outline" color="danger"></ion-icon>
          </ion-button>

          <span>{{itemMenuView.inputValue}}</span>

          <ion-button (click)="counterButton(itemMenuView,'add',ind)" fill='clear'>
            <ion-icon name="add-circle-outline" color="success"></ion-icon>
          </ion-button>

        </div>
      </ion-item>
    </div>

    <div *ngIf="listItems.accordianItem">

      <div *ngFor="let accordians of listItems.accordianItem; let accordItem = index">
        <ion-item class="noPaddingEnd" (click)="openAccordian(accordians, accordItem)">
          <ion-label>
            <ion-text>{{accordians.dishName}}</ion-text>
            <p>
              <small>{{accordians.dishItem}}</small> <small *ngIf='!accordians.acordian'> {{accordians.items}}</small>
            </p>
          </ion-label>
          <ion-button fill='clear' color='medium'>
            <ion-icon name='arrow-down' mode="ios" expand='icon-only' *ngIf='accordians.acordian'></ion-icon>
            <ion-icon name='arrow-forward' mode="ios" expand='icon-only' *ngIf='!accordians.acordian'></ion-icon>
          </ion-button>
        </ion-item>

        <div *ngIf='accordians.acordian'>

          <ion-item class="costCounterMenuPrice" lines="none"
            *ngFor="let accordlist of accordians.accordian; let accrIndex = index">
            <ion-label>
              <ion-text color="dark" class="cardContentNameMenuView">
                <ion-text
                  [ngClass]="{ 'red' : accrIndex % 2 === 0,'green': accrIndex % 3 == 0, 'red':accrIndex % 1 === 0}">
                  &#x25A3;</ion-text>
                {{accordlist.dishName}}
              </ion-text>
              <p class="foodPriceMEnuView">&#8377; {{accordlist.dishPrice}}</p>
              <p class="foodPriceMEnuView1" text-wrap> {{accordians.items}}</p>
            </ion-label>
            <ion-button *ngIf='!accordlist.clicked' fill='clear' color='success'
              (click)="toggleAddValue(accordlist,accrIndex)" slot="end" class="bordereedButton" slot="end">
              Add
            </ion-button>

            <div *ngIf='accordlist.clicked' class="counterButtons" slot="end">

              <ion-button (click)="counterButton(accordlist,'remove',accrIndex)" fill='clear'
                [disabled]='accordlist.inputValue <= 0'>
                <ion-icon name="remove-circle-outline" color="danger"></ion-icon>
              </ion-button>

              <span>{{accordlist.inputValue}}</span>

              <ion-button (click)="counterButton(accordlist,'add',accrIndex)" fill='clear'>
                <ion-icon name="add-circle-outline" color="success"></ion-icon>
              </ion-button>

            </div>
          </ion-item>
        </div>

      </div>
    </div>
  </ion-list>
  <div class="footerLogo">
    <h1 color='medium' text-uppercase no-margin>Hunger </h1>
    <h1 color='medium' text-uppercase no-margin>For </h1>
    <h1 color='medium' text-uppercase no-margin>Tasty foods</h1>
  </div>
</ion-content>
<ion-footer>
  <ion-item (click)='gotoCart()'>
    <ion-label>
      <ion-text color='light'>{{totalQuantity ? totalQuantity : Items}} Item | &#8377;
        {{totalCost ? totalCost : 000}}</ion-text>
    </ion-label>
    <ion-button slot='end' fill='clear' color='light' (click)='gotoCart()'
      [disabled]='totalQuantity <= 0 || Items <= 0'>
      <ion-icon name='cart' slot='end'></ion-icon>VIEW CART
    </ion-button>
  </ion-item>
</ion-footer>