ion-content {
  --background: #e3f2fd;
}

h2 {
  font-weight: bold;
}

.dashedBorder {
  --border-style: dashed;
}

.flexRatetime {
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    font-size: 12px;
  }

  h2 {
    font-size: 12px;
  }
}

.sameLine {
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: flex-start;
  display: flex;

  ion-text {
    font-size: 12px;
    color: #bf360c;
  }
}

.smallIMg {
  width: 16px;
  margin-right: 16px;
  margin-left: 16px;
}

.boxDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0px 16px;
  border: 0.5px solid var(--ion-color-light-shade);
}

span {
  display: flex;
  font-size: small;
  color: gray;
  align-items: center;
  font-weight: bold;

  ion-toggle {
    padding-left: 12px;
  }
}

.topContainer {
  background: white;
}

.verticalScrollContainer {
  display: -webkit-box;
  width: 100%;
  overflow: scroll;
  margin: 4px;
  .card-wrapper:last-child {
    padding-right: 10px;
  }
}

.cardVertical {
  width: 190px;
  // height: 140px;
  background-position: center !important;
  background-size: cover !important;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #00000047;
  display: flex;
  // justify-content: flex-end;
  flex-direction: column;

  .title {
    font-size: 12px;
    font-weight: bold;
  }

  .smallTitle {
    font-size: 10px;
  }

  .bottomText {
    padding-left: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    background: radial-gradient(#000000d9, transparent);
  }
}

ion-list-header {
  font-weight: bold;
  font-size: 18px;
}

ion-item.costCounterDiv {
  --inner-padding-end: 0px;

  .counterButtons {
    width: 100px;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ion-button {
      --padding-end: 0px;
      --padding-start: 0px;
      width: 20px;
      --indicator-color-checked: transparent;
      --border-color: #2196f300;
      --background-checked: var(--ion-color-success-tint);

      ion-icon {
        font-size: 16px;
      }
    }

    ion-input {
      --padding-start: 0px;
      font-size: smaller;
      text-align: center;
    }
  }

  ion-text {
    font-size: smaller;
  }
}

ion-item.noPaddingStart {
  --padding-start: 2px;

  ion-text {
    font-size: small;
  }
}

.cardImage {
    width: 100%;
    height: 110px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 4px !important;
}

.costCounterMenuPrice {
  // --inner-padding-end: 0px;

  .counterButtons {
    width: 80px;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--ion-color-light-shade);

    ion-button {
      --padding-end: 0px;
      --padding-start: 0px;
      width: 20px;
      --indicator-color-checked: transparent;
      --border-color: #2196f300;
      --background-checked: var(--ion-color-success-tint);

      ion-icon {
        font-size: 16px;
      }
    }

    ion-input {
      --padding-start: 0px;
      font-size: smaller;
      text-align: center;
    }
  }

  ion-text {
    font-size: smaller;
  }
}

.sc-ion-card-ios-h {
  margin-left: unset;
  margin-right: unset;
  -webkit-margin-start: 8px;
  margin-inline-start: 8px;
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
}

.list-ios,
.list-md {
  margin-left: 0;
  margin-right: 0;
  margin-top: -1px;
  margin-bottom: 16px !important;
}

ion-card.menuCard {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline-start: 4px;
  -webkit-margin-end: 0;
  margin-inline-end: 4px;
  border-radius: 0px;
  box-shadow: none;
}

.cardContentName {
  font-weight: 600;
}

span.sellerTypeSpan {
  font-size: 8px;
  margin: 8px 0px;
  color: #9e9e9e;
}

.bordereedButton {
  border: 1px solid var(--ion-color-light-shade);
  margin-right: 5px;
  --padding-start: 1.6em;
  --padding-end: 1.6em;
}

ion-card-content {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.vegNonVeg {
  padding-right: 5px;
}

.red {
  color: #b71c1c;
  padding-right: 5px;
}

.green {
  color: green;
  padding-right: 5px;
}

p.foodPriceMEnuView {
  padding-left: 20px;
  font-size: 12px;
  color: #10dc60;
}

p.foodPriceMEnuView1 {
  padding-left: 20px;
  font-size: 10px;
  color: #263238;
}

.cardContentNameMenuView {
  font-size: 12px;
}

.noPaddingEnd {
  --inner-padding-end: 0px;

  ion-icon {
    font-size: 24px;
  }

  ion-text {
    font-size: 14px;
    font-weight: bold;
  }

  small {
    font-weight: bold;
  }
}

.footerLogo {
  position: relative;
  height: 250px;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: #eeeeee;

  h1 {
    text-transform: uppercase !important;
    font-size: 36px;
    font-weight: bold;
    color: #0277bd;
    margin-left: 16px;
  }

  ion-img {
    width: 60px;
    /* height: 60px; */
    position: absolute;
    top: 96px;
    right: 44%;
  }
}

.buttonAtFooterALways {
  position: fixed;
  z-index: 999;
  bottom: 9%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;

  ion-button {
    width: 120px;
    height: 44px;
    --border-radius: 25px;
  }
}

ion-footer {
  background: #10dc60;

  ion-item {
    --background: #10dc60;
  }

  ion-button {
    font-weight: bold;
  }
}
