.verticalScrollContainer {
    display: -webkit-box;
    width: 100%;
    overflow: scroll;
}

.cardVertical {
    width: 180px;
    height: 180px;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.overlay {
    background: none;

    .bottomText {
        background: #222428;
        display: flex;
        flex-direction: column;
        height: 75px;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        padding: 20px 16px 0px 14px;
        /* text-align: center; */
        color: #f4f5f8;
    }


}

ion-list {
    margin-bottom: 0px;

    ion-list-header {
        ion-label {
            font-weight: bold;
            font-size: 15px;
        }

        // --background: #ECEFF1;
        ion-text {
            font-weight: bold;
            font-size: 15px;
        }

        p {
            font-size: 8px;
        }
    }
}

ion-item.itemBottomTimeCost {
    ion-text.smallTitle {
        font-size: 11px;
        font-weight: bold;
    }

    //  padding: 0px 0px 0px 16px;
    ion-text {
        font-size: small;
        margin: 0px 10px 0px 0px;
        color: #455A64;
    }

    span {
        font-size: 18px;
    }
}

ion-text.mediumText {
    padding: 0px 8px 0px 8px;
    border-left: 1px solid #455A64;
    border-right: 1px solid #455A64;
}

ion-item.itemBottomTimeCostList {
    --inner-border-width: 0 0 0px 0;
    --min-height: 30px;

    ion-text {
        font-size: small;
        margin: 0px 22px 0px 0px;
        color: #455A64;
    }

    span {
        font-size: 18px;
    }

    .paddingRight {
        margin-right: 72px;
    }
}
ion-thumbnail{
    border-radius: 4px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.sameLine {
    display: -webkit-box;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    overflow: hidden;

    p {
        font-size: 12px;
        color: #B71C1C;
        text-overflow: ellipsis;
        width: 167px;
    }

    ion-text {
        font-size: 12px;
        color: #B71C1C;
    }
}

.smallIMg {
    width: 12px;
    margin-right: 5px;
}

.paraSmallExtraa {
    color: #455A64;
    font-size: x-small;
}

ion-list-header {
    background: #f4f5f8;
}