<ion-list *ngFor="let allCards of restroOffers">
  <ion-list-header padding-vertical>
    <ion-label>
      <ion-text>{{allCards.head}}</ion-text>
      <p>{{allCards.subHead}}</p>
    </ion-label>
  </ion-list-header>
  <div class="verticalScrollContainer">
    <div *ngFor="let VerticalCards of allCards.slides">
      <ion-card [ngStyle]="{'background':'url('+ VerticalCards.image +')'}" class="cardVertical"
        (click)='goToProductPage(VerticalCards)'>
        <div class="overlay">
          <div class="bottomText">
            <ion-text color='light' class="title">{{VerticalCards.text1}}</ion-text>
            <!-- <ion-text color='light' class="smallTitle">{{VerticalCards.text2}}</ion-text> -->
          </div>
        </div>
      </ion-card>
      <ion-item class="itemBottomTimeCost">
        <ion-label>
          <ion-text color='dark' class="smallTitle" *ngIf="VerticalCards.text2">{{VerticalCards.text2}}</ion-text>

          <div *ngIf="VerticalCards.rating">
            <ion-text><span>&#10031;</span> {{VerticalCards.rating}}</ion-text>
            <ion-text class="mediumText">{{VerticalCards.time}}</ion-text>
            <ion-text>&#8377; {{VerticalCards.price}}</ion-text>
          </div>

          <div class="sameLine" *ngIf="VerticalCards.text">
            <ion-img src={{VerticalCards.imgSmall}} class="smallIMg"></ion-img>
            <p>{{VerticalCards.text}} </p>
          </div>

        </ion-label>
      </ion-item>
    </div>
  </div>

</ion-list>
<ion-list>
  <ion-list-header id='fixPosition'>
    <ion-label>All Offersr (768)</ion-label>
  </ion-list-header>
  <div *ngFor="let items of itemDetails" (click)="gotoRestuarentsProducts(items)">
    <ion-item>
      <ion-thumbnail [ngStyle]="{'background':'url('+ items.thumbnail +')'}" slot='start'> </ion-thumbnail>
      <ion-label>
        <h2>{{items.title}}</h2>
        <p class="paraSmallExtraa">{{items.subTitle}}</p>
        <div class="sameLine">
          <ion-img src={{items.imgSmall}} class="smallIMg"></ion-img>
          <ion-text text-wrap>{{items.text}} </ion-text>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="itemBottomTimeCostList">
      <div slot="end" class="paddingRight">
        <ion-text><span>&#10031;</span> {{items.rate}}</ion-text>
        <ion-text class="mediumText">{{items.time}}</ion-text>
        <ion-text>&#8377; {{items.cost}}</ion-text>
      </div>

    </ion-item>
  </div>
</ion-list>