<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title text-start text-capitalize>payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let payments of paymentMethods">
    <ion-list-header>
      <ion-label>{{payments.head}}</ion-label>
    </ion-list-header>
    <div *ngFor="let items of payments.items">
      <ion-item *ngIf='!items.icon' (click)='goToPayCharge(items)'>
        <ion-avatar *ngIf='items.thumbRight' [ngStyle]="{'background':'url('+ items.thumbRight +')'}" slot="start">
        </ion-avatar>

        <ion-label>
          <ion-text text-capitalize>{{items.text}}</ion-text>
          <p *ngIf="items.para" text-wrap>{{items.para}}</p>
        </ion-label>
        <ion-button fill='clear' slot='end' text-uppercase (click)="checkMarkclicked(items)">{{items.textLeft}}
          <ion-icon name='checkmark-circle-outline' mode='ios' slot='end' color="medium" *ngIf='items.iconLeft && !items.clicked'></ion-icon>
          <ion-icon name='checkmark-circle-outline' mode='ios' slot='end' color="success" *ngIf='items.iconLeft && items.clicked'>
          </ion-icon>
        </ion-button>
      </ion-item>

      <ion-item *ngIf='items.icon' lines='none' class="avataeWithIcon">
        <ion-avatar slot="start">
          <ion-icon name='add' expand='icon-only'></ion-icon>
        </ion-avatar>

        <ion-label>
          <ion-text text-uppercase class="colorText">{{items.text}}</ion-text>
          <p>{{items.para}}</p>
        </ion-label>
      </ion-item>
    </div>

  </ion-list>
</ion-content>