ion-avatar {
    background-size: cover !important;
    background-position: center !important;
    margin-top: 16px;
    margin-bottom: 16px;
}

ion-item.avataeWithIcon {
    ion-avatar {
        background-position: center !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        border: 1px solid #EF6C00;
        border-radius: 5px;
        color: #EF6C00;
        margin-top: 0px;
        margin-bottom: 31px;
        width: 27px;
        height: 18px;
    }

    ion-label {
        margin-bottom: 30px;
    }
}

ion-list-header {
    --background: #ECEFF1;
}

ion-content {
    --background: #ECEFF1;
}

ion-button {
    color: #EF6C00;
    font-weight: bold;


}

ion-text.colorText {
    color: #EF6C00;
    font-weight: 600;
    font-size: 13px;
}

ion-list {
    margin-bottom: 0px;
}