<ion-header>
  <ion-toolbar *ngIf='title'>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title>{{prodData.text1}}</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf='!title' class="transparentToolbar">
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen  (ionScroll)="logScrolling($event)" [scrollEvents]="true">
  <ion-thumbnail class="headerThumb">
    <ion-img src={{prodData.image}}></ion-img>
  </ion-thumbnail>
  <ion-item class="borderLess">
    <ion-label>
      <h2>{{prodData.text1}}</h2>
      <p class="paraSmallExtraa">{{prodData.text2}}</p>
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-list-header id='productBar'>
      <ion-label>68 RESTAURANTS</ion-label>
      <ion-button fill='clear' color='dark' (click)="openFilterModal()">
        <ion-icon slot='start' name='options' mode='ios'></ion-icon>
        SORT/FILTER
      </ion-button>
    </ion-list-header>
    <div *ngFor="let items of itemDetails">
      <ion-item (click)="gotoRestuarentsProducts(items)">
        <ion-thumbnail [ngStyle]="{'background':'url('+ items.thumbnail +')'}" slot='start'> </ion-thumbnail>
        <ion-label>
          <h2>{{items.title}}</h2>
          <p class="paraSmallExtraa">{{items.subTitle}}</p>
          <div class="sameLine">
            <ion-img src={{items.imgSmall}} class="smallIMg"></ion-img>
            <ion-text text-wrap>{{items.text}} </ion-text>
          </div>
        </ion-label>
      </ion-item>
      <ion-item class="itemBottomTimeCost">
        <div class="marginL">
          <ion-text><span>&#10031;</span> {{items.rate}}</ion-text>
          <ion-text class="mediumText">{{items.time}}</ion-text>
          <ion-text>&#8377; {{items.cost}}</ion-text>
        </div>
      </ion-item>

    </div>
  </ion-list>
</ion-content>