ion-toolbar.transparentToolbar {
    --background: #ff000000;
}

ion-title {
    font-size: 15px;
    font-weight: bold;
}

.header-md:after {
    background-image: none;
}

.paraSmallExtraa {
    color: #455A64;
    font-size: x-small;
}

.sameLine {
    display: -webkit-box;
    justify-content: flex-start;
    align-items: center;
    display: flex;

    ion-text {
        font-size: 12px;
        color: #B71C1C;
    }
}

.smallIMg {
    width: 12px;
    margin-right: 5px;
}

ion-item.itemBottomTimeCost {
    --inner-border-width: 0 0 0px 0;

    ion-text {
        font-size: small;
        margin: 0px 22px 0px 0px;
        color: #455A64;
    }

    span {
        font-size: 18px;
    }

    .marginL {
        margin-left: 72px;
    }
}
ion-thumbnail{
    border-radius: 4px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
ion-text.mediumText {
    padding: 0px 16px 0px 16px;
    border-left: 1px solid #455A64;
    border-right: 1px solid #455A64;
}

ion-list-header {
    // background: white;
    border-bottom: 0.5px solid var(--ion-color-light-shade);
    border-top: 0.5px dashed var(--ion-color-light-shade);

    ion-label {
        font-size: smaller;

    }
}

ion-content {
    position: relative;
    top: -56px;
}

ion-thumbnail.headerThumb {
    width: 100%;
    height: 150px;
}

h2 {
    font-weight: bold;
}

ion-button {
    font-size: x-small;

    ion-icon {
        font-size: 22px;
    }
}

ion-item.borderLess {
    --inner-border-width: 0 0 0px 0;
}