<ion-content [ngStyle]="{'background':'url('+ loginPic +')'}">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center style="height: 100%; flex-direction: column">
      <ion-list text-center>
        <ion-text color="tertiary" padding-bottom>Signup</ion-text>

        <ion-card>
          <ion-card-content>
            <ion-item *ngFor="let inputs of signUP">
              <ion-label position="stacked">{{inputs.name}} </ion-label>
              <ion-input placeholder={{inputs.placeholder}} type={{inputs.type}}></ion-input>
            </ion-item>
            <ion-button color="tertiary" expand="block" margin-top (click)="goToHome()">Signup</ion-button>
          </ion-card-content>
        </ion-card>
        <p (click)="goToLogin()">Already have an account ? <u>Click here !</u></p>
      </ion-list>
    </ion-row>
  </ion-grid>

</ion-content>