/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 ion-list{
    padding-top: 0;
    padding-bottom: 0;
    ion-list-header{
        background: #E0F7FA;
        color: black;
        font-weight: bold;
    }
    ion-item{
        ion-text{
            font-size: 14px;
        }
        p{
            font-size: 12px;
        }
        ion-icon{
            margin-inline-end: 18px;
            color: #FF5722;
        }
    }
}