<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="arrow-back" color="tertiary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Choose a delivery address</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let addresses of addList" (click)="selectAndClose(addresses)">
      <ion-icon name='pin' slot='start' mode='ios'></ion-icon>
      <ion-label>
        <ion-text color='primary'>{{addresses.name}}</ion-text>
        <p>{{addresses.add}}</p>
        <p>{{addresses.time}}</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="goToAddNEwAddress()">
      <ion-icon name='add' slot='start' mode='ios' color='danger'></ion-icon>
      <ion-label>
        <ion-text color='primary' color='danger'>ADD NEW ADDRESS</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>