<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="closePage()">
        <ion-icon name="arrow-back" expand="icon-only" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Edit Profile</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start" [ngStyle]="{'background':'url('+ image +')'}"></ion-avatar>
      <ion-label>
        <ion-text color="success">Edit Profile Picture</ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Update Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" placeholder="XXXXXXXX"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-input [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contact</ion-label>
      <ion-input [(ngModel)]="contact" type='number'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input [(ngModel)]="desc"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color='success' (click)="goToUPdateData()">UPDATE CHANGES</ion-button>
  </ion-toolbar>
</ion-footer>