
/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 ion-item {
    ion-avatar {
        background-size: cover !important;
        background-position: center !important;
        width: 75px;
        height: 75px;
        border: 2px solid #f4f5f8;
    
}
}

ion-list-header {
    ion-label {
        font-weight: bold;
        font-size: 18px;
    }
}
ion-input{
    font-weight: bold;
}