  agm-map {
      height: 70%;
  }

  #map {
      height: 100%;
  }

  ion-fab {
      top: 71% !important;
  }

  ion-fab-button {
      width: 45px;
      height: 45px;
  }

  ion-grid {
      position: relative;

      ion-col {
          p {
              margin: 0;
              font-size: 10px;
              text-align: center;
              color: #989aa2;
          }

          ion-button {
              width: 100%;
          }
      }

      .Gps_Absolute {
          --border-radius: 50%;
          width: 40px;
          height: 40px;
          font-size: 11px;
          position: absolute;
          right: 8px;
          z-index: 999;
          bottom: 175px;
      }
  }

  .list-ios {

      margin-bottom: 8px !important;
  }