<ion-content>

  <agm-map [latitude]="pickupLat" [longitude]="pickupLng" [zoom]="zoom" [fullscreenControl]="true"
    (mapClick)="mapClicked($event)">

    <agm-marker [latitude]="pickupLat" [longitude]="pickupLng" [markerDraggable]="true" [animation]="'DROP'"
      (dragEnd)="markerDragEnd($event)">
      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>
    </agm-marker>

  </agm-map>
  <ion-list>
    <ion-list-header>
      <ion-label>Set delivery location</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <p>Location</p>
        <ion-text color="dark" text-wrap>{{Location}}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-button (click)="getCurrentLocation()" color="light" class="Gps_Absolute">
      <ion-icon name="locate"></ion-icon>
    </ion-button>
    <ion-row>
      <ion-col size="6">
        <ion-button fill='outline' color="danger">
          ADD MORE DETAILS
        </ion-button>
        <P>for faster checkout</P>
      </ion-col>
      <ion-col size="6">
        <ion-button color="danger" (click)="locationConfirmed()">
          CONFIRM LOCATION
        </ion-button>
        <P>to quickly see restaurants</P>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>