<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="arrow-back" color="tertiary" expand="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding [ngStyle]="{'background':'url('+ loginPic +')'}">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <div>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <ion-item class="signInput" lines="none">
          <ion-label position="stacked" class="inputLabel" autofocus>{{emailInput}}</ion-label>
          <ion-input color="dark" [(ngModel)]='recover'></ion-input>
        </ion-item>
        <ion-button color="light" [disabled]="recover === '' " (click)="goTocreateAccount()" class="sendButt">send
        </ion-button>
        <p text-center (click)="goToRecovery()">{{help}}</p>

      </div>
    </ion-row>
  </ion-grid>

</ion-content>