/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-content {
    --background: #00000047;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}


.header-md:after {
    bottom: 0px;
}



h1 {
    color: white;
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

.signInput {
    --background: transparent;
    --inner-border-width: 0 0 0px 0;
    --padding-start: 0;
    --inner-padding-end: 0;
    width: 100%;

    .inputLabel {
        margin-bottom: 12px;
        font-size: 24px;
        color: white;
    }

    ion-input {
        --background: #E0F2F1;
        border-radius: 5px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        --padding-start: 5px;
    }

    ion-icon {
        position: absolute;
        right: 12px;
        top: 60%;
        z-index: 9999;
    }

    p {
        margin: 5px 0px 0px 12px;
        padding: 0;
        width: 100%;
        font-size: 11px;
        color: white;
    }
}

ion-button.sendButt {
    --border-radius: 25px;
    margin-top: 56px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
    height: 44px;
    width: 100%;
}

p {
    color: white;
    text-align: justify;
    padding: 46px 0px 20px 0px;
    letter-spacing: 0.6px;
    font-size: 13px;
    line-height: 20px;
}