/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
agm-map {
    height: 50%;
}

#map {
    height: 50%;
}

ion-toolbar {
    position: fixed;
    --background: transparent;
    top: 0;

    ion-button {
        --padding-start: 0.3em;

    }
}

.Gps_Absolute {
    --border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 11px;
    position: absolute;
    right: 6px;
    z-index: 999;
    top: 225px;
}

ion-list-header {
    font-weight: bold;
    font-size: 15px;
}

ion-item {
    ion-label {
        font-size: 10px;
        color: #9E9E9E;
    }

    ion-text {
        font-size: 14px;
    }
}

ion-grid {
    ion-label {
        font-size: 10px;
        color: #9E9E9E;
    }
}

ion-item.notSelected {
    ion-icon {
        font-size: 18px;
        color: #BDBDBD;
    }

    ion-label {
        font-size: 10px;
        color: #9E9E9E !important;
    }
}

ion-item.selected {
    ion-icon {
        font-size: 18px;
        color: black;
    }

    ion-label {
        font-size: 10px;
        color: #9E9E9E !important;
    }
}

.footer-md:before {
    background-image: none;
}

ion-footer {

    ion-button {
        --background: #FF6F00;
        font-weight: bold;
    }
}

.other {
    width: 100%;
    --inner-padding-end: 0px;

    ion-input {
        font-size: 13px;
    }

    ion-icon {
        margin-right: 8px;
        font-size: 18px;
        color: #BDBDBD;
    }

    ion-button {
        --padding-start: 0px;
    }
}

.list-ios {
    margin-bottom: 0px;
}