<ion-content>
    <ion-toolbar>
      <ion-button slot='start' fill='clear' (click)="goBack()">
        <ion-icon name='arrow-back' color="light" expand='icon-only'></ion-icon>
      </ion-button>
    </ion-toolbar>
    <agm-map [latitude]="pickupLat" [longitude]="pickupLng" [zoom]="zoom" [fullscreenControl]="true"
      (mapClick)="mapClicked($event)">
  
      <agm-marker [latitude]="pickupLat" [longitude]="pickupLng" [markerDraggable]="true" [animation]="'DROP'"
        (dragEnd)="markerDragEnd($event)">
        <agm-info-window>
          <strong>InfoWindow content</strong>
        </agm-info-window>
      </agm-marker>
  
    </agm-map>
    <ion-button (click)="getCurrentLocation()" color="success" class="Gps_Absolute">
      <ion-icon name="locate"></ion-icon>
    </ion-button>
    <ion-list>
      <ion-list-header>
        <ion-label>Set delivery location</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <p>Location</p>
          <ion-text color="dark" text-wrap>{{Location}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">HOUSE / FLAT NO</ion-label>
        <ion-input [(ngModel)]='houseDetail'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">LANDMARK</ion-label>
        <ion-input [(ngModel)]='landMark'></ion-input>
      </ion-item>
      <ion-grid>
        <ion-label position="stacked" padding-horizontal>SAVE AS</ion-label>
        <ion-row>
          <ion-col size='4' *ngFor="let addTypes of addDetails;let i= index">
            <ion-item text-center [ngClass]="{'selected': addTypes.clicked, 'notSelected':!addTypes.clicked}"
              (click)="changeClass(addTypes,i)" *ngIf="!otherClicked">
              <ion-icon name={{addTypes.icon}}></ion-icon>
              <ion-label>
                <ion-text>{{addTypes.name}}</ion-text>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-item *ngIf='otherClicked' class="other">
            <ion-icon name='pin' slot='start'></ion-icon>
            <ion-input placeholder="e.g enappd's House....Shadman's house"></ion-input>
            <ion-button fill='clear' (click)="closeOtherImput()" text-capitalize>
              Cancel
            </ion-button>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
  <ion-footer padding>
    <ion-button expand='full' [disabled]="houseDetail && landMark === ''" (click)="goToBilling()">SAVE AND PROCEED
    </ion-button>
  </ion-footer>