<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="tertiary"></ion-back-button>
      </ion-buttons>
      <ion-title class="title-ios" text-capitalize>FAQ</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card margin-bottom no-padding color="light" *ngFor="let question of questions; let i = index" class="cardSection"
      (click)="openIssue(i, question)">
      <ion-card-header>
        <ion-card-subtitle class="font18">{{question}}</ion-card-subtitle>
        <ion-icon name="arrow-forward" float-right mode="ios"></ion-icon>
      </ion-card-header>
    </ion-card>
  </ion-content>