/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-toolbar {
    --background: #222428;
    --color: white;
}

// ion-content {
//     --background: #2224285c;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
// }

ion-item {
    ion-avatar {
        background-size: cover !important;
        background-position: center !important;
        width: 75px;
        height: 75px;
        border: 2px solid #f4f5f8;
        ;
    }

    h2 {
        font-size: 18px;
        font-weight: bolder;
        color: #ffeb3b;
    }

    p {
        color: #f4f5f8;
    }
}

.editPro {
    height: auto;
    font-size: 18px;
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --color: #F57C00;
    --color-activated: #F57C00;
    --color-focused: #F57C00;
    font-weight: bold;
    text-align: left;

    ion-label {
        width:100%;
         h3 {
            margin-top: 7px;
            margin-bottom: 3px;
            font-size: 16px;
            font-weight: bold;
        }

        p {
            color: #22242875;
            font-weight: lighter;
            font-size: 13px;
        }
    }
}

ion-item.transparent {
    --background: transparent;
}

ion-list {
    background: transparent;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    p {
        color: #222428;
        font-weight: bold;
        font-size: 18px;
        margin-top: 0;
    }
}