<ion-header>
  <ion-toolbar>
    <ion-title text-start text-uppercase>account</ion-title>
    <ion-buttons slot="end">
      <ion-button color='light'>
        <ion-icon name='notifications-outline' mode="ios" expand='icon-only'></ion-icon>
      </ion-button>
      <ion-button color='light' (click)="gotoShare()">
        <ion-icon name='share-alt' mode="ios" expand='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item color="dark">
      <ion-avatar slot="end" [ngStyle]="{'background':'url('+ USER_IMAGE +')'}"></ion-avatar>
      <ion-label>
        <h2>
          <ion-icon name='contact'></ion-icon> {{USER_NAME}}
        </h2>
        <p>
          <ion-icon name='briefcase'></ion-icon> {{USER_DESC}}
        </p>
        <p>
          <ion-icon name='pin'></ion-icon>{{USER_ADDRESS}}
        </p>
        <p>
          <span>&#9818;</span> {{followers}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-label>
        <ion-text color="light">Notifications</ion-text>
      </ion-label>
      <ion-toggle color="tertiary" slot="end"></ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list transparent>

    <ion-card class="transparent">
      <ion-item class="editPro" lines="none" (click)="goToEditProfile()">
        <ion-label>
          <h3>EDIT PROFILE</h3>
          <p text-capitalize>Edit your Profile, password, contact, Address...</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="transparent">
      <ion-item class="editPro" lines="none" (click)="goToMyOrders()">
        <ion-label>
          <h3>MY ORDERS</h3>
          <p text-capitalize>check you previoous orders here</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="transparent">
      <ion-item class="editPro" lines="none" (click)="goForHelp()">
        <ion-label>
          <h3>FAQ</h3>
          <p text-capitalize>click for any help related to order.</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="transparent">
      <ion-item class="editPro" lines="none" (click)="goForChatHelp()">
        <ion-label>
          <h3>CHAT WITH US</h3>
          <p text-capitalize>Cann't find your answer in faq ? Chat with us.</p>
        </ion-label>
      </ion-item>
    </ion-card> 
    <p text-center>Privacy Policy</p>
  </ion-list>

</ion-content>