<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-padding>
    <ion-list-header>
      <ion-label>Order History</ion-label>
    </ion-list-header>
    <ion-card *ngFor="let cards of previousOrders">
      <ion-item lines="none">
        <ion-thumbnail slot="start" [ngStyle]="{'background':'url('+ cards.shopImg +')'}"></ion-thumbnail>
        <ion-label>
          <ion-text>{{cards.shopName}}</ion-text>
          <p>{{cards.location}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>{{cards.item}}</p>
          <ion-text>{{cards.itemList}}</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>{{cards.order}}</p>
          <ion-text>{{cards.orderDate}}</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>TOTAL PRICE</p>
          <ion-text>{{cards.totalPrice}}</ion-text>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label class="withBadge">
          <p>Delivered and rated <ion-badge color="tertiary">{{cards.rating}} &#10031;</ion-badge>
          </p>
        </ion-label>
        <ion-button fill="clear" slot="end" color="tertiary" (click)="goForBilling(cards)">
          <ion-icon slot="start" name="swap"></ion-icon>
          Repeat Order
        </ion-button>
      </ion-item>

    </ion-card>
  </ion-list>
</ion-content>