/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 ion-list-header {
    background: #d9d9d9;

    ion-label {
        font-weight: bold;
        font-size: 18px;
    }
}

ion-item {
    ion-thumbnail {
        background-size: cover !important;
        background-position: center !important;
        border: 2px solid #f4f5f8;

    }

    ion-label {
        p {
            font-size: 10px;
        }

        ion-text {
            font-size: 12px;
            font-weight: bold;
        }
    }
}

ion-label.withBadge {
    p {
        align-items: center;
        justify-content: flex-start;
        display: flex;
        color: black;
        font-size: 12px !important;
        ion-badge {
            margin-left: 5px;
        }
    }

}

ion-card {
    padding: 16px 0px 0px 0px;
}