/**
 * Ionic 4 Food Ordering app starter (https://store.enappd.com/product/ionic-4-food-ordering-app-starter)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 ion-segment {
    --color-checked: #1e2023;
}

.sc-ion-segment-ios-h {
    --color-checked: var(--ion-color-primary-contrast, #fff);
    --background-checked: #1e2023;
    --border-color: #1e2023;
    --color: #989aa2;

}

ion-segment-button {
    font-size: 11px;
    font-weight: bold;
}
ion-toolbar .sc-ion-segment-ios-h.sc-ion-segment-ios-s > ion-segment-button {
    max-width: 160px;
    font-size: 10px;
    line-height: 22px;
}