<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title text-start text-uppercase>offers</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="restro" checked>
        <ion-label>REATAURENT OFFERS</ion-label>
      </ion-segment-button>
      <ion-segment-button value="payment">
        <ion-label>PAYMENT OFFER / COUPONS</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-restaurantoffers *ngIf="segmentValue === 'restro'"></app-restaurantoffers>
  <app-paymentoffers *ngIf="segmentValue === 'payment'"></app-paymentoffers>
</ion-content>